@charset "UTF-8";
/* Убрал точки со списков ul */
.projects, .filter__list, .footer-social__li, .footer-social, .footer__list, .clients__li, .clients__list, .team-social__li, .team-social, .team__list, .benefits {
  list-style: none;
  padding: 0;
}

/* Убрал подчёркивание со ссылок */
.projects__link, .footer-social__link, .team-social__link, .adress__link, .logo {
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.15;
  padding-top: 60px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Установка отступов для секций Padding */
.section {
  padding: 60px 0;
}

/* невидимые заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, p, ul {
  margin: 0;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.logo__one {
  color: #2196F3;
}

.logo__two {
  color: #000000;
}

.logo__three {
  color: #FFFFFF;
}

/* HEADER-flex для всего хедера */
.header {
  position: fixed;
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: center;
}

/* nav */
.nav-list {
  display: none;
}

/* Применит отступ ко всем элементам кроме последнего */
.nav__link {
  display: none;
}

.nav__link--active {
  color: #2196F3;
}
.nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

/* adress header */
.adress {
  display: none;
}

/* Применит отступ ко всем элементам кроме последнего */
.adress__list:not(:last-child) {
  margin-right: 50px;
}

.adress__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.adress__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  letter-spacing: 0.02em;
  color: inherit;
}
.adress__link:hover, .adress__link:focus {
  color: #2196F3;
}

/* HERO INDEX*/
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgimage/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F303A;
  max-width: 1600px;
  width: 100%;
  max-height: 600px;
  padding: 118px 45px;
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: transparent;
  text-align: center;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: #188CE8;
  transform: scale(1.03);
}

.hero-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero-modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal__close {
  width: 11px;
  height: 11px;
}
.hero-modal__close:hover, .hero-modal__close:focus {
  fill: #2196F3;
}

/* Hero-form */
.hero-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: left;
}

.hero-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
}

.hero-form__box {
  min-width: 448px;
  min-height: 342px;
  margin-bottom: 20px;
}

.hero-form__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.hero-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hero-form__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.hero-form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-form__input:focus {
  border-color: #2196F3;
  outline: none;
}
.hero-form__input:focus ~ .hero-form__svg {
  fill: #2196F3;
}

.hero-form__label {
  margin-bottom: 4px;
}

.hero-form__comment {
  display: flex;
  flex-direction: column;
}

.hero-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-form__textarea:focus {
  border-color: #2196F3;
  outline: none;
}
.hero-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.hero-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.hero-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.hero-form__privat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.hero-form__check {
  margin-right: 8px;
}

.hero-form__check[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.hero-form__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.hero-form__check:checked ~ .hero-form__icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../images/svg-index/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-origin: border-box;
}

.hero-form__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.hero-form__button:hover, .hero-form__button:focus {
  background-color: #188CE8;
}

.hero-form__link {
  line-height: 1.71;
  color: #2196F3;
}

/* BENEFITS INDEX*/
.benefits__li {
  width: 100%;
}
.benefits__li:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__bg {
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}

.benefits__text {
  line-height: 1.7;
}

/* WORKING INDEX*/
.working {
  display: none;
  padding-top: 0;
}

.working__list {
  display: flex;
}

.working__li {
  position: relative;
}
.working__li:not(:last-child) {
  margin-right: 30px;
}

.working__box {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.working__text-overlay {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.working__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

/* TEAM INDEX */
.team {
  background-color: #F5F4FA;
}

.team__li {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__li:not(:last-child) {
  margin-bottom: 30px;
}

.team__foto {
  width: 100%;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.team__prof {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* team-social */
.team-social {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.team-social__li:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(175, 177, 184);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* CLIENTS INDEX */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.clients__li {
  width: calc(50% - 15px);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  color: rgb(175, 177, 184);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.clients__icon {
  fill: currentColor;
}

/* FOOTER */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
  text-align: center;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__list {
  font-style: inherit;
  text-align: center;
}

.footer__sity {
  line-height: 1.7;
  color: #FFFFFF;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* footer-social */
.footer-social {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.footer-social__list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-social__li:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* footer form */
.footer-form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form__mail {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.footer-form__input,
.footer-form__label {
  font-size: 16px;
  line-height: 1.25;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input::placeholder {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__input {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 30px 15px 16px;
}
.footer-form__input:not(:-moz-placeholder-shown) + .footer-form__label {
  transform: translateY(-46px);
}
.footer-form__input:not(:-ms-input-placeholder) + .footer-form__label {
  transform: translateY(-46px);
}
.footer-form__input:focus + .footer-form__label, .footer-form__input:not(:placeholder-shown) + .footer-form__label {
  transform: translateY(-46px);
}
.footer-form__input:focus {
  outline: none;
}
.footer-form__input:focus::-moz-placeholder {
  opacity: 1;
}
.footer-form__input:focus:-ms-input-placeholder {
  opacity: 1;
}
.footer-form__input:focus::placeholder {
  opacity: 1;
}
.footer-form__input:valid:not(:-moz-placeholder-shown) ~ .footer-form__icon {
  fill: rgb(87, 208, 87);
}
.footer-form__input:valid:not(:-ms-input-placeholder) ~ .footer-form__icon {
  fill: rgb(87, 208, 87);
}
.footer-form__input:focus:valid ~ .footer-form__icon, .footer-form__input:valid:not(:placeholder-shown) ~ .footer-form__icon {
  fill: rgb(87, 208, 87);
}
.footer-form__input:focus:invalid ~ .footer-form__icon {
  fill: rgb(251, 251, 57);
}
.footer-form__input:focus:invalid ~ .footer-form__warning {
  opacity: 1;
}

.footer-form__warning {
  display: flex;
  max-width: 358px;
  position: absolute;
  padding: 5px;
  color: rgb(251, 251, 57);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__icon {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer-button */
.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-right: 10px;
  padding: 0;
  border: none;
  background-color: inherit;
}

.footer-button__icon {
  fill: #FFFFFF;
}

/* filter portfolio */
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__li:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  display: inline-block;
  min-height: 38px;
  text-align: center;
  padding: 6px 22px;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* current активные предложения */
.filter__button--current {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* projects portfolio */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

/* .projects.list{

} */
.projects__li {
  margin: 15px;
  width: calc((100% - 90px) / 3);
  background-color: #FFFFFF;
  transition-property: border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__li:hover, .projects__li:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__li:hover .projects__overlay, .projects__li:focus .projects__overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects__box {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__overlay-text {
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.projects__cont {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.projects__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__text {
  font-size: 16px;
  line-height: 1.89;
  color: #757575;
}/*# sourceMappingURL=main.css.map */