@import "./utils/vars";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/general";
@import "./components/logo";
@import "./components/mobile-menu";
@import "./components/header";
@import "./components/index/hero";
@import "./components/index/benefits";
@import "./components/index/working";
@import "./components/index/team";
@import "./components/index/clients";
@import "./components/footer";
@import "./components/portfolio/filter";
@import "./components/portfolio/projects";