.body {
    font-family: 'Roboto', sans-serif;
    background-color: $text-bgc-color;
    color: $text-firstly-color;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.15;
    padding-top: 60px;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    // outline: 2px solid red;

    @media screen and (min-width: $mobile) {
        width: $mobile;
        // width: calc($mobile - 30px);
    }
    @media screen and (min-width: $tablet) {
        width: $tablet;
        // width: calc($tablet - 30px);
    }
    @media screen and (min-width: $desctop) {
        width: $desctop;
        // width: calc($desctop - 30px);
    }
}

// $mobile: 480px;
// $tablet: 768px;
// $desctop: 1200px;

/* Установка отступов для секций Padding */
.section {
    padding: 60px 0;

    @media screen and (min-width: $desctop) {
        padding: 94px 0;
    }
}
/* невидимые заголовки */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, p, ul {
    margin: 0;
}