/* logo */
.logo {
    @extend %link;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    // margin-right: 93px;
}

.logo__one {
    color: $text-secondary-color;
}

.logo__two {
    color: $logo-text-color;
}

.logo__three {
    color: $text-bgc-color;
}

.logo--posision{
    margin-right: 88px;

    @media screen and (min-width: $desctop) {
        margin-right: 93px;
    }
}