/* filter portfolio */
.filter {
    padding-top: 60px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
        padding-bottom: 30px;
    }

    @media screen and (min-width: $desctop) {
        padding-top: 94px;
        padding-bottom: 50px;
    }
}

.filter__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
    gap: 8px;

    @media screen and (min-width: $tablet) {
        justify-content: center;
    }
}

.filter__li{
    height: 38px;
}
// .filter__li:not(:last-child) {
//     margin-right: 8px;
// }

.filter__button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: $title-main-color;
    background-color: $light-bgc;
    cursor: pointer;
    border-radius: 4px;
    border: transparent;
    display: inline-block;
    min-height: 38px;
    text-align: center;
    padding: 6px 22px;

    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $text-bgc-color;
    background-color: $text-secondary-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

/* current активные предложения */
.filter__button--current {
    color: $text-bgc-color;
    background-color: $text-secondary-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}