/* projects portfolio */
.projects {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

/* .projects.list{

} */
.projects__li {
    margin: 15px;
    
    background-color: $text-bgc-color;

    transition-property: border-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    @include border($border-portfolio);
    border-top: none;

    width: 100%;
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }
    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: $desctop) {
        width: calc((100% - 90px) / $item);
    }

    &:hover,
    &:focus {
    @include border($border-portfolio);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .projects__overlay,
    &:focus .projects__overlay {
    transform: translateY(0);
    opacity: 1;
    }
}
.projects__link{
    @extend %link;
}

.projects__box {
    position: relative;
    overflow: hidden;
}
.projects__img{
    width: 100%;
    height: 294px;
    background-size: cover;
}

.projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);

    transition: transform 250ms $animation,
        opacity $animation;
}

.projects__overlay-text {
    font-size: 18px;
    line-height: 1.56;
    color: $text-bgc-color;
    background-color: $overlay-text;
    padding: 57px 24px;

    @media screen and (min-width: $mobile) {
    padding: 77px 24px;
    }

    @media screen and (min-width: $desctop) {
    padding: 63px 24px;
    }
}

.projects__cont {
    padding: 20px 24px;
    
}

.projects__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: $title-main-color;
}

.projects__text {
    font-size: 16px;
    line-height: 1.89;
    color: $text-firstly-color;
}