
$text-secondary-color: #2196F3;
$bgc-button-color: #188CE8;
$title-main-color: #212121;
$logo-text-color: #000000;
$text-firstly-color: #757575;
$text-bgc-color: #FFFFFF;
$dark-bgc: #2F303A;
$light-bgc: #F5F4FA;
$border-portfolio: #EEEEEE;
$border-header: #ECECEC;
$icon-header: rgba(117, 117, 117, 1);
$icon-social: rgba(175, 177, 184, 1);
$icon-social-bg: rgba(33, 150, 243, 1);
$icon-social-hover: rgba(255, 255, 255, 1);
$bg-social-footer: rgba(255, 255, 255, 0.1);
$adress-capacity: rgba(255, 255, 255, 0.6);
$border-footer: rgba(255, 255, 255, 0.3);
$overlay-text: rgba(33, 150, 243, 0.9);
$bg-color-backdrop: rgba(0, 0, 0, 0.2);
$color-place-holder: rgba(117, 117, 117, 0.5);
$shadow: rgba(0, 0, 0, 0.15);

$item: 3;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$lg: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;