/* TEAM INDEX */
.team {
    background-color: $light-bgc;
    // padding-top: 94px;
    // padding-bottom: 94px;
}

.team__list {
    @extend %list;
    // display: flex;
    // margin: -15px;
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
}

.team__li {
    // margin: 15px;
    text-align: center;
    background: $text-bgc-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desctop) {
        width: calc((100% - 90px) / 4);
    }
}
.team__foto{
    width: 100%;
}
.team__info {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: $desctop) {
        padding-bottom: 30px;
    }
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $title-main-color;
}

.team__prof {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

/* team-social */
.team-social {
    @extend %list;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}
.team-social__li{
    @extend %list;
}
.team-social__li:not(:last-child) {
    margin-right: 10px;
}

.team-social__link {
    @extend %link;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $icon-social;
    border-radius: 50%;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $text-secondary-color;
    color: $text-bgc-color;
    }
}

.team-social__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}